/* Import the "Source Code Pro" font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

header .highlight {
    color: #e8491d;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 5px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

#showcase {
    background: #333;
    color: #fff;
    text-align: center;
